.App {
  text-align: center;
  padding: 20px;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  border: 0rem;
  padding: 5px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 25px;
  padding-left: 2px;
  border-radius: 5px;
  border: 1px solid #777;
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
